<form method="post" action="/users">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="password" name="user[hashed_password]" placeholder="Password">
  <input type="submit" value="Log In!">
</form>
